---
layout: page
# The Category layout
---
<!-- TODO: We should find a better way to do this. - Saiful -->

{% assign cat_posts = "" | split: "" %}
{% assign page_lcat = page.category | downcase %}

{% for post in site.posts %}
  {% for cat in post.categories %}
    {% assign post_lcat = cat | downcase %}
    {% if page_lcat  == post_lcat%}
      {% assign cat_posts = cat_posts | push: post %}
    {% endif %}
  {% endfor %}
{% endfor %}

<div id="page-category">
  <h1 class="pl-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    {{ page.title }}
    <span class="lead text-muted pl-2">{{ cat_posts | size }}</span>
  </h1>

  <ul class="post-content pl-0">
    {% for post in cat_posts %}
    <li class="d-flex justify-content-between pl-md-3 pr-md-3">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      <span class="dash flex-grow-1"></span>
      <span class="text-muted small">{{ post.date | date: site.data.date_format.post.long }}</span>
    </li>
    {% endfor %}
  </ul>
</div>